

#holder {
  background-color: var(--dark);
}

.active
{
    background-color : var(--dark-light);
}
.checkBox
{
    display: none;
    visibility: hidden;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  
@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }


@media all and (max-width: 350px) {
 
    #openMenu
    {
       position: absolute;
       top:1rem;
       right: 1rem;
       margin: 0 auto;
       width: 3.5rem;
       height: 3.5rem;
       border-radius: 50%;
       background-color: var(--primary-light);
       display: grid;
       place-items: center;
       
     
   
       img{
          height: 2rem;
          height: 2rem;
       }
    }
    .checkBox:checked ~ #openMenu
    {
        display: none; 
    }
    .checkBox:checked ~ #holder 
    {
       display: block;
       animation-name: fadeInUp ;
       animation-duration: 0.5s;  
       
    }
  
  
    
   #holder { 

       display: none;
       position: absolute;
       top: 5vh;
       left: 10vw;
       right: 10vw;
       height: 460px;
       width: 80vw;
       border-radius: 30px;
       padding: 1rem;
       animation-name: fadeInUp ;
       animation-duration: 0.5s; 
       transition: ease-out;
       
      
   
      li
      {
          margin-bottom: 1rem;
          
          a{
              color : var(--white);
              font-family: HeadingMedium;
              text-transform: capitalize;
              width: 100%;
              display: grid;
              grid-template-columns: 30% 70%;
              justify-content: center;
              align-content: end;
   
              .circle
              {
                  width: 3rem;
                  height: 3rem;
                  display: grid;
                  place-content: center;
                  border-radius: 50%;
   
                  img{
                      height: 2rem;
                      height: 2rem;
                  }
   
              }
   
              .navText
              {
               justify-self: start;
               align-self:center;
              }
   
             
          }
   
   
      }
       
      #closeMenu
      {
        margin: 0 auto;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        background-color: var(--dark);
        display: grid;
        place-items: center;
        
     
   
        img{
           height: 2rem;
           height: 2rem;
        }
      }
    
      label {
          display: block;
          width: 3.5rem;
          height: 3.5rem;
          margin: 0 auto;
      }
       
     }

  

}
@media all and (min-width: 350px) and (max-width: 600px) {

    #openMenu
 {
    position: absolute;
    top:1rem;
    right: 1rem;
    margin: 0 auto;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: var(--primary-light);
    display: grid;
    place-items: center;

    img{
       height: 2rem;
       height: 2rem;
    }
 }

 .checkBox:checked ~ #holder 
 {
    display: block;
    animation-name: fadeInUp ;
    animation-duration: 0.5s;
    
 }
 
#holder {  
    display: none;
    position: absolute;
    top: 15vh;
    left: 5vw;
    right: 5vw;
    height: 460px;
    width: 90vw;
    border-radius: 30px;
    padding: 1.2rem 2rem;
    
    

   li
   {
       margin-bottom: 1rem;
       
       a{
           color : var(--white);
           font-family: HeadingMedium;
           text-transform: capitalize;
           width: 100%;
           display: grid;
           grid-template-columns: 30% 70%;
          
           

           .circle
           {
               margin: 0 auto;
               align-items: center;
               width: 3rem;
               height: 3rem;
               display: grid;
               place-content: center;
               border-radius: 50%;
               

               img{
                   height: 2rem;
                   height: 2rem;
               }

           }

           .navText
           {
            justify-self: start;
            align-self:center;
           }

          
       }
    .label
    {
    width: 3.5rem;
    height: 3.5rem;
    background-color:red;
    }

   }
    
   #closeMenu
   {
     margin: 0 auto;
     width: 3.5rem;
     height: 3.5rem;
     border-radius: 50%;
     background-color: var(--dark);
     display: grid;
     place-items: center;

     img{
        height: 2rem;
        height: 2rem;
     }
   }
 
   label {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 auto;
}
 
  }
}
@media all and (min-width: 600px) and (max-width: 900px) {
}
